#container{margin:10px;padding:20px;margin: 0 auto;text-align:center;font-size:30px;}
#container2{margin:10px;padding:20px;margin: 0 auto;text-align:center;font-size:15px;}
#main{font-family:"Open Sans";text-align:center;}
.line{cursor:pointer;}